.polit-style{
    padding: 100px 0px;
    h1{
        color: #ffffffff;
    }
    h2{
        color: #ffffffff;
        opacity: 80%;
    }
    h3{
        color: #ffffffff;
        opacity: 70%;

        padding-left: 10px;
    }
    p{
        color: #ffffffff;
        opacity: 60%;
        padding-left: 20px;
    }
    span{
        color: #ffffffff;

    }
}